<div class="marker-info-win" style="text-align: center;">
	<div class="marker-inner-win">
		<span class="info-content">
		<img src="{{ imagen }}" alt="{{agencia}}" style="margin-botton: 10px;" width="150">
		<h5 class="marker-heading" style="color:#000; padding: 0px; margin: 0px;">{{agencia}}</h5>
		<span>{{direccion}}</span> 
		</span>
	</div>
</div>
