<div class="row">
    <div class="col-sm-12">
        <!-- Panel Static Lables -->
        <div class="panel panel-bordered not-rounded">
            <div class="panel-heading">
                <h3 class="panel-title">Agregar información</h3>
            </div>
            <div class="panel-body container-fluid pb15">
                <form autocomplete="off" id='new-sen'>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Agencia
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione agencia -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Categoría
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione categoría -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Marca
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione marca -</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block"></div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Modelo
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione modelo -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Transmisión
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione transmisión -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Color
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione color -</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block"></div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Interior
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione interior -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Año
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione año -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Cilindros
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <select class="camcar-remark-select selectpicker" data-plugin="selectpicker">
                                <option>- Seleccione cilindros -</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block"></div>
                    <div class="col-sm-4 col-sm-offset-4  " id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Precio
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <input class='new-sen-input form-control camcar-remark-input stl-input' id='new-sen-price' name='sen_price' type='text' />
                        </div>
                    </div>
                    <div class="clearfix visible-lg-block"></div>
                    <div class="col-sm-12" id='div-new-sen-agency-container'>
                        <div class="form-group form-material">
                            <label class="control-label mb10 red-camcar red-camcar" for="new-sen-agency">
                                <i class="fa fa-asterisk fa-fw"></i> Descripción
                            </label>
                            <div id='div-select-new-sen-agency'></div>
                            <textarea class='form-control camcar-remark-textarea stl-text-area' id='new-sen-description' name='sen_description'></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer clearfix pt30 pb30">
                <div class="col-sm-6" id='div-new-sen-agency-container'>
                    <div class="form-group form-material">
                        <button class='button button-outline bg-red-camcar not-rounded red-camcar button-resp col-sm-6 col-md-12' id='new-sen-save' style="padding: 1em; margin: 0 auto;">
                            Guardar
                        </button>
                    </div>
                </div>
                <div class="col-sm-6" id='div-new-sen-agency-container'>
                    <div class="form-group form-material">
                        <button class='button button-outline bg-white-camcar not-rounded white-camcar button-resp col-sm-6 col-md-12' id='new-sen-clean' style="padding: 1em; margin: 0 auto;">
                            Limpiar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Static Lables -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Panel Static Lables -->
        <div class="panel not-rounded">
            <div class="panel-body container-fluid">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="form-group form-material">
                        <button class='button button-outline button-to-ico bg-red-camcar bg-active-red-camcar red-camcar col-sm-12' id='new-sen-seminuevos-list' style="padding: 0.5em;">
                            <i class="navi-nav-icons-movil-preowned-list-v2 fa-3x fa-lg fa-fw"></i>
                            Listado seminuevos
                        </button>
                    </div>
                </div>
            </div>
        <!-- End Panel Static Lables -->
    </div>
</div>