<select class='form-control selectpicker m-bot15' id='sen-filter-agency' name='sen_agency'>
    <option value=''> - Todas las Agencias - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
