<select class='set-sen-select form-control selectpicker set-sen-element m-bot15 stl-sel-model' id='set-sen-model' name='sen_model'>
    <option value=''> - Seleccione un modelo - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
