<div class='utility-box'>
    <div class="utility-bar" style="background: #fff;">
        <div class="container">
            <div class='row'>
                <div class="col-md-10 col-sm-6 col-xs-11">
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-list fa-lg fa-fw"></i>
                            <span style="font-size: 1.3em; padding-left: 15px; padding-top: 15px;">
                                Listado de Seminuevos
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="col-md-1 col-sm-6 col-xs-1">
                    <span class='tools-search' style="">
                        <a class="search-trigger">
                            <i class="fa fa-search"></i>
                        </a>
                    </span>
                </div>
                {{!--
                <div class="col-md-1 col-sm-6 col-xs-12">
                    <span class='tools' style="position: relative; top: 9px;">
                        <a href='javascript:;' class='fa fa-chevron-down'></a>
                    </span>
                </div>
                --}}
            </div>
        </div>
        <!-- Actions bar -->
        <div class="actions-bar">
            <div class="container">
                <div class="row">
                    <div class="navbar">
                        <div class="container sp-cont">
                            <div id='div-get-sen-filters'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="large-pad" style="overflow: visible;">
        <div class="container">
            <div class='row'>
                <div class='panel-body'>
                    <div class='col-sm-12 col-md-12'>
                        <div class="row">
                            <div id='div-get-sen-head'></div>
                            <div id='div-get-sen-list'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
