<select class='set-sen-select form-control selectpicker set-sen-element m-bot15 stl-sel-agencie' id='set-sen-agency' name='sen_agency'>
    <option value=''> - Seleccione una agencia - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
