<article class="single-vehicle-details">
    <div class="single-vehicle-title">
        <h2 class="post-title" id='sen-results'>0 Seminuevos</h2>
        <div class="toggle-view view-format-choice pull-right">
            <label>Vistas</label>
            <div class="btn-group">
                <a class="btn btn-default active" id="results-list-view">
                    <i class="fa fa-th-list"></i>
                </a>
                <a class="btn btn-default" id="results-grid-view">
                    <i class="fa fa-th"></i>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</article>
<br>
<br>