<select class='new-sen-select selectpicker btn-default form-control m-bot15 stl-sel-agencie' id='new-sen-agency' name='sen_agency'>
    <option value=''> - Seleccione una agencia - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
