<select class='form-control selectpicker m-bot15' id='sen-filter-category' name='sen_category'>
    <option value=''> - Todas las Categorías - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
