<select class='set-sen-select form-control selectpicker set-sen-element m-bot15 stl-sel-brand' id='set-sen-brand' name='sen_brand'>
    <option value=''> - Seleccione una marca - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
