<!--
<div class="site-menubar">
-->
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu">
                    <!--
                    <li class="site-menu-category">General</li>
                    -->
                    <li id="site-adm-section-intranet" class="site-menu-item has-sub">
                        <a href="../welcome/" data-slug="layout">
                            <i class="site-menu-icon navi-nav-icons-home-v1 fa-3x" aria-hidden="true"></i>
                            <span class="site-menu-title">Intranet</span>
                        </a>
                    </li>
                    <li id="site-adm-section-new-preowned" class="site-menu-item has-sub">
                        <a id="go-adm-section-new-preowned" data-slug="layout">
                            <i class="site-menu-icon navi-nav-icons-movil-preowned-add-v2 fa-3x" aria-hidden="true"></i>
                            <span class="site-menu-title">Agregar Seminuevo</span>
                        </a>
                    </li>
                    <li id="site-adm-section-get-list-preowned" class="site-menu-item has-sub">
                        <a id="go-adm-section-get-list-preowned" data-slug="layout">
                            <i class="site-menu-icon navi-nav-icons-movil-preowned-list-v2 fa-3x" aria-hidden="true"></i>
                            <span class="site-menu-title">Listado Seminuevos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="">
            <!--
            <span class="icon wb-settings" aria-hidden="true"></span>
            -->
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="">
            <!--
            <span class="icon wb-eye-close" aria-hidden="true"></span>
            -->
        </a>
        <a href='../../logout/' class="hint--top" data-hint="Cerrar Sesión">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>
<!--
</div>
-->
