<select class='new-sen-select selectpicker btn-default form-control m-bot15 stl-sel-model' id='new-sen-model' name='sen_model'>
    <option value=''> - Seleccione un modelo - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
