<select class='new-sen-select selectpicker btn-default form-control m-bot15 stl-sel-year' id='new-sen-year' name='sen_year'>
    <option value=''> - Seleccione un año - </option>
    {{#each camadpa}}
    <option value='{{year}}'>{{year}}</option>
    {{/each}}
</select>
