<select class='set-sen-select form-control selectpicker set-sen-element m-bot15 stl-sel-category' id='set-sen-category' name='sen_category'>
    <option value=''> - Seleccione una categoría - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
