<article class="single-vehicle-details">
    <div class="single-vehicle-title">
        <h2 class="post-title">Cargue sus Imágenes</h2>
    </div>
</article>
<br>
<br>
<!-- Actions bar -->
<div class="actions-bar">
    <div class="container">
        <div class="row">
            <div class='text-center'>
                <span class='button button-file-upload button-transparent rounded bg-red-camcar red-camcar fileinput-button col-sm-4 col-md-4 col-md-offset-4'>
                    <i class='fa fa-picture-o fa-2x fa-fw'></i>
                    <span>Seleccione Imágenes</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id='picture-sen-uploader' type='file' name='files[]' multiple>
                </span>
            </div>
            <div class='col-sm-12 col-md-12'>
                <!-- The global progress bar -->
                <div id='progress' class='progress progress-striped progress-mini active '>
                    <div class='progress-bar progress-bar-color-camcar'></div>
                </div>
            </div>
        </div>
    </div>
</div>
