<select class='set-sen-select form-control selectpicker set-sen-element m-bot15 stl-sel-year' id='set-sen-year' name='sen_year'>
    <option value=''> - Seleccione una año - </option>
    {{#each camadpa}}
    <option value='{{year}}'>{{year}}</option>
    {{/each}}
</select>
