<select class='new-sen-select selectpicker btn-default form-control m-bot15 stl-sel-brand' id='new-sen-brand' name='sen_brand'>
    <option value=''> - Seleccione una marca - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
