<select class='form-control selectpicker m-bot15' id='sen-filter-brand' name='sen_brand'>
    <option value=''> - Todas las Marcas - </option>
    {{#each camadpa}}
    <option value='{{id}}'>{{nombre}}</option>
    {{/each}}
</select>
