<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
			<p class="super-lead">
				Representamos la solidez de la experiencia y el valor que nos han brindado las grandes marcas del mundo que hoy nos componen. <strong style="color: #000;">Nuestra promesa es cumplir con los m치s altos est치ndares que certificamos ante las plantas armadoras mediante instalaciones, capacitaci칩n, recurso humano con talento y experiencia</strong>, y sobre todo la calidad, servicio y atenci칩n que brindamos.
			</p>
		</div>
	</div><!--end of row-->
</div><!--end of container-->
