<div id="ScrollDown"></div>
<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-sm-6">
			<h4 style="font-weight: bold; color: #000;">CAMCAR Grupo Automotriz</h4>
			<p>
				Es el resultado de un equipo que se adapta al cambio sumando experiencia, fuerza y calidad de servicio adquiridos en 25 años de trabajo y presencia de marcas en el occidente del país.
			</p>
			<p>
				Nacimos con la <strong style="font-weight: bold; color: #000;">VISION DE SER LIDER DEL MERCADO</strong> al que hoy atendemos con la mayor oferta marcas automotrices.
			</p>
			<p>
				Con 42 excepcionales agencias de autos nuevos, 8 pisos de Seminuevos y 8 talleres especializados. Somos más 1,685 profesionales en 15 Ciudades de 11 Estados:
			</p>
		</div>

		<div class="col-md-5 col-sm-6" style="padding-top: 10px;">
			<br>
			<p>
				<ul>
					<li><strong style="font-weight: bold; color: #000;">AGUASCALIENTES</strong>.</li>
					<li><strong style="font-weight: bold; color: #000;">COLIMA</strong> (Colima / Manzanillo).</li>
					<li><strong style="font-weight: bold; color: #000;">GUANAJUATO</strong> (León).</li>
					<li><strong style="font-weight: bold; color: #000;">JALISCO</strong> (Gudadalajara / Puerto Vallarta / Cd. Guzmán).</li>
					<li><strong style="font-weight: bold; color: #000;">MÉXICO, D.F.</strong> (Bosques / Interlomas / Santa Fe / Cuajimalpa).</li>
					<li><strong style="font-weight: bold; color: #000;">MICHOACAN</strong> (Morelia).</li>
					<li><strong style="font-weight: bold; color: #000;">NAYARIT</strong> (Tepic).</li>
					<li><strong style="font-weight: bold; color: #000;">QUERETARO</strong>.</li>
					<li><strong style="font-weight: bold; color: #000;">ZACATECAS</strong>.</li>
					<li><strong style="font-weight: bold; color: #000;">QUINTANAROO</strong> (Cancún).</li>
					<li><strong style="font-weight: bold; color: #000;">GUERRERO</strong> (Acapulco / Ixtapa) U-Save.</li>
				</ul>
			</p>
		</div>
	</div><!--end of row-->
</div><!--end of container-->
