<div class="container">
    <div class="row">
    	<div class="col-md-6 col-sm-6">
    		<div class="panel panel-bg-camcar panel-margin-big panel-margin-resp-medium cur-hover" id="go-job-opportunities">
    			<div class="panel-body text-white text-center panel-body-padding-70 panel-body-padding-resp-40">
    				<i class="fa fa-briefcase fa-fw fa-lg fa-3x ptb-20"></i>
    				<h3 class="text-white ptb-20">Bolsa de Trabajo</h3>
    				<p class="text-white" style="margin-bottom: 27px; text-align: center; font-size: 1.5em; font-weight: bold;">
    					Si estas interesado en formar parte de Grupo Camcar, da click aquí.
					</p>
    			</div>
    		</div>
    	</div>
    	<div class="col-md-6 col-sm-6">
    		<div class="panel panel-bg-camcar panel-margin-big panel-margin-resp-medium cur-hover" id="go-new-contact">
    			<div class="panel-body text-white text-center panel-body-padding-70 panel-body-padding-resp-40">
    				<i class="fa fa-envelope-o fa-fw fa-lg fa-3x ptb-20"></i>
    				<h3 class="text-white ptb-20">Contacto</h3>
    				<p class="text-white" style="margin-bottom: 5px; text-align: center; font-size: 1.5em; font-weight: bold;">
    					Si deseas contactarnos para cualquier asunto no relacionado con Recursos Humanos, da click aquí.
					</p>
    			</div>
    		</div>
    	</div>
    </div><!--end of row-->
</div><!--end of container-->