<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 text-center">
                <h1 class="h-landmark"><span>Talleres Especializados</span></h1>
                <h5 class="h5-landmark" style="padding-top: 25px; "><strong>CAMCAR Grupo Automotriz.<strong><em style="padding: 0px 0px 0 10px;">Ve por M치s...</em></strong></strong></h5>
                <p class="super-lead col-md-8 col-md-offset-2" style="font-size: 115% !important;">
                    Somos 7 talleres especializados de marca, cumpliendo con los m치s altos est치ndares de calidad y entrenamiento para respaldar a usted la promesa de atenci칩n y servicio que ofrecemos.
                </p>
            </div>
        </div>
    </div><!--end of row-->
</div><!--end of container-->
