<label for="file">Adjunta tu CV. <span style="float:right; color: #e1251b;"><i class="fa fa-asterisk fa-fw"></i>Sólo archivos en PDF.</span></label>
<div class="text-center">
<input type="file"
    class="input-standard validate-required validate-upload"
    name="job_opportunities_upload_file"
    id="job_opportunities_upload_file"
    data-validation-data="required|upload">
    <p class="invalid-message" id="error_upload">Este campo es obligatorio<span>&nbsp;</span></p>
</div>