<div class="container">
	<section class="double-pad">
		<div class="container">
			<div class="row">
				<div class="background-image-holder background-image-holder-size ">
				    <img alt="Slide Background" class="background-image" src="../img/sitio/agencias/fachadas-nuevos/{{campa.0.agnfachada}}">
				</div>
			</div>
		</div>
	</section>
</div>
