<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-3 text-center">
		</div>

		<div class="col-md-7 col-sm-9">
			<div class="article-single">
				<div class="text-block">
					<div class="detail-line"></div>
					<h4>Estimado Cliente:</h4>
				</div>
				<p>
					<em>En Eurocavsa, S.A. de C.V. con domicilio en&nbsp;&nbsp; AV. VALLARTA No. 5500 - A COL. CAMICHINES  VALLARTA, ZAPOPAN JALISCO, C.P. 45020, la informaci&oacute;n de nuestros clientes es  tratada de forma estrictamente confidencial y es tan importante como su  seguridad al conducir nuestros veh&iacute;culos, por lo que hacemos un esfuerzo  permanente para salvaguardarla.</em>
				</p>

				<h3 class="alt-font uppercase">CONFIDENCIALIDAD</h3>

				<p>
					<em>M&aacute;s que una pol&iacute;tica, en Eurocavsa, S.A. de C.V., tenemos la  filosof&iacute;a de mantener una relaci&oacute;n estrecha y activa con nuestros clientes. Al  proporcionar sus datos personales, consiente su tratamiento tanto dentro como  fuera de los Estados Unidos Mexicanos y entiende que podr&aacute; ser procesada  directa o indirectamente por s&iacute; misma, sus sociedades subsidiarias,&nbsp; afiliadas o relacionadas, sus distribuidores  autorizados y/o sus terceros proveedores de servicios con las siguientes  finalidades:</em>
				</p>

				<ul class="bullets">
					<li>Proveerle del bien y/o servicio que desea obtener.</li>
					<li>Dar  cumplimiento a requerimientos legales.</li>
					<li>Realizar actividades de mercadeo y promoci&oacute;n en general.</li>
					<li>Ofrecerle nuestros productos, servicios e informaci&oacute;n de nuestros socios  de negocios.</li>
					<li>An&aacute;lisis estad&iacute;sticos y de mercado.</li>
				</ul>

				<p>
					<em>Mantener actualizados nuestros registros para poder responder  a sus consultas, invitarle a eventos exclusivos, hacer v&aacute;lida la garant&iacute;a de su  veh&iacute;culo, informarle acerca de llamados a revisi&oacute;n de su veh&iacute;culo, hacer de su  conocimiento nuestras promociones y lanzamientos y mantener comunicaci&oacute;n en  general, as&iacute; como, dar seguimiento a nuestra relaci&oacute;n comercial.</em>
				</p>

				<h3 class="alt-font uppercase">ACCESO, RECTIFICACI&Oacute;N, CANCELACI&Oacute;N U OPOSICI&Oacute;N DE DATOS  PERSONALES Y REVOCACI&Oacute;N DEL CONSENTIMIENTO</h3>

				<p>
					Todos sus datos personales son tratados de acuerdo a las  Leyes de protecci&oacute;n vigentes en el pa&iacute;s, por ello le informamos que tiene en  todo momento el derecho de acceder, rectificar, cancelar u oponerse al  tratamiento que le damos a los datos personales, as&iacute; como revocar el  consentimiento otorgado para el tratamiento de los mismos; derecho que podr&aacute;  hacer valer a trav&eacute;s de Eurocavsa, S.A. de C.V.
				</p>

				<p>
					A trav&eacute;s de estos canales usted podr&aacute; actualizar sus datos y  especificar el medio por el cual desea recibir informaci&oacute;n, en caso de no  contar con esta especificaci&oacute;n de su parte Eurocavsa, S.A. de C.V., establecer&aacute;  el canal que consideren pertinente para enviarle informaci&oacute;n.
				</p>

				<p>
					Asimismo, de conformidad con la Legislaci&oacute;n aplicable&nbsp; Eurocavsa, S.A. de C.V., cuenta con un  periodo de 20 d&iacute;as para responder a su solicitud, de lo contrario, usted tiene  el derecho de iniciar un procedimiento de protecci&oacute;n de derechos ante el  Instituto Federal de Acceso a la Informaci&oacute;n y&nbsp;  Protecci&oacute;n de Datos (IFAI).
				</p>

				<p>
					Este aviso de privacidad podr&aacute; ser modificado de tiempo en  tiempo, dichas modificaciones ser&aacute;n oportunamente informadas mediante correo  electr&oacute;nico o cualquier otro medio de comunicaci&oacute;n oral, impreso o electr&oacute;nico  que Eurocavsa, S.A. de C.V., determine para tal efecto.
				</p>

			</div>
		</div>

		<div class="col-md-3 col-md-offset-0 col-sm-9 col-sm-offset-3">

		</div>

	</div><!--end of row-->
</div><!--end of container-->
