<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-md-12 col-sm-12 text-center">
                <h1 class="h-landmark">
                    <span>
                    <img src="../img/sitio/rental/logo_u_save.png" alt="U-SAVE" width="199">
                    </span>
                </h1>
                <h5 style="margin-bottom: 35px;"><strong>Capital Rental<strong><em style="padding: 0px 0px 0 10px;">S.A. de C.V.</em></strong></strong></h5>
            </div>
            <p class="super-lead text-center" style="  font-size: 100% !important; line-height: 25px;">
                En U-Save el factor primordial es lograr que el alquiler económico de automóviles incluya un excelente servicio, calidad y comodidad. Con convenientes centros en aeropuertos y vecindarios, U-Save cubre sus necesidades de alquiler de autos y camionetas.
                <br>
                Un auto en el aeropuerto, un vehículo de reemplazo con seguro o una minivan, ya sea para vacacionar o trabajar, U-Save tiene la mejor opción.
                <br>
                <strong style="  font-size: 120% !important; ">En pocas palabras: Dondequiera que vaya, <br>¡ahorre con U-Save!</strong>
            </p>
        </div>
    </div><!--end of row-->
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center" style="font-size: 16px; padding: 40px 5px 20px;">
            <div class="contact-method">
                <a  href="../img/sitio/files/CURRICULO_USAVE.pdf" class="primaryLink withStyle" title="CURRICULO USAVE" target="_blank">
                    <i class="icon icon-eye fa-lg fa-fw"></i>
                    <span style="padding: 15px; line-height: 0.75em;">VER INFORMACIÓN</span>
                </a>
            </div>
        </div>
    </div>
</div><!--end of container-->
