<div class="container">
	<div class="row">
	    <div class="col-md-12 text-center">
			<div id="map-canvas-truck" class="map-canvas h500 none-visible-xs"></div>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-12 text-center">
			<a href="{{campa.0.mapas.agngmapurl}}" class="button py4 button-transparent bg-facebook resp-button bg-black-camcar visible-sm visible-xs no-data-mapa" title="VIEW MAP" target="_blank">
			    <i class="ion-map fs-fw fa-lg"></i>
			    <span>VER MAPA</span>
			</a>
		</div>
	</div>
</div>
