<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="feature-list text-center animated hiding" data-animation="fadeInLeft" data-delay="500">
                <img src="../img/sitio/nosotros/about-us-pic1.png" alt="">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="feature-list text-center animated hiding" data-animation="fadeInUp" data-delay="500">
                <img src="../img/sitio/nosotros/about-us-pic2.png" alt="">
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="feature-list text-center animated hiding" data-animation="fadeInRight" data-delay="500">
                <img src="../img/sitio/nosotros/about-us-pic3.png" alt="">
            </div>
        </div>
    </div><!--end of row-->
</div><!--end of container-->
