<div class="container">
	{{!--
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<p class="super-lead pb50">
					Compuestos por 7 grandes grupos,  distribuidores de las 16 marcas de prestigio que nos componen.
				</p>
			</div>
		</div><!--end of row-->

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-ford-cavsa.png" alt="Grupo Ford CAVSA">
					</i>
					<!--<h5>We employ our unique methodology to ensure your campaign is successful</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo Ford CAVSA</strong> con agencias en: Guadalajara y Cd. Guzmán en Jalisco y 2 más en Colima y Manzanillo. En taller de servicio la marca BODY-SHOP especializado en Laminado y Pintura.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-jaguar-landrover.png" alt="Grupo EUROCAVSA">
					</i>
					<!--<h5>Our solutions are built from the ground-up to address your project requirements</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo EUROCAVSA</strong> con: 2 agencias <strong style="font-weight: bold; color: #000;">Jaguar & Land Rover</strong> en Guadalajara y 2 más, una en Leon, Gto. Y otra en Morelia, Mich. También, <strong style="font-weight: bold; color: #000;">Lincoln</strong> en Guadalajara,  <strong style="font-weight: bold; color: #000;">Mazda</strong> en Aguascalientes y Zacatecas y <strong style="font-weight: bold; color: #000;">Peugeot</strong> en Leon, Gto. Sumando <strong style="font-weight: bold; color: #000;">BRP</strong> Ssandier como distribuidor de CAN-AM, Spyder y SeeDoo.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-mercedes-benz.png" alt="Grupo EUROSTERN">
					</i>
					<!--<h5>Your final product will be tailor made and well supported by our friendly team</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo EUROSTERN</strong> con: <strong style="font-weight: bold; color: #000;">Mercedes-Benz</strong> con 4 agencias en Guadalajara;  con sus marcas Sprinter con agencia en Guadalajara  y Smart.  Próximamente en Puerto Vallarta.
					</p>
				</div>
			</div>

		</div><!--end of row-->

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-chrysler.png" alt="Grupo SYC Motors">
					</i>
					<!--<h5>We employ our unique methodology to ensure your campaign is successful</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo SyC Motors</strong> con:  <strong style="font-weight: bold; color: #000;">Chrysler, Jeep, Dodge, Ram y Mitsubishi</strong>.  Taller (Servicio. Llantas) <strong style="font-weight: bold; color: #000;">Tyre-Plus</strong> y <strong style="font-weight: bold; color: #000;">U-Save</strong> Car & Truck Rental.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-vw.png" alt="Grupo EUROALEMANA">
					</i>
					<!--<h5>Our solutions are built from the ground-up to address your project requirements</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo EUROALEMANA</strong> con:  <strong style="font-weight: bold; color: #000;">VW</strong>, DasWeltAuto, DirectExpres y <strong style="font-weight: bold; color: #000;">Man Camiones</strong>.  Con agencias en Guadalajara y Puerto Vallarta, Jalisco.  Y en Tepic, Nay.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-suzuki.png" alt="Grupo SUZUKI">
					</i>
					<!--<h5>Your final product will be tailor made and well supported by our friendly team</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo Suzuki</strong> con: <strong style="font-weight: bold; color: #000;">SUZUKI</strong> con 2 agencias en Guadalajara y 3 más en Colima, Manzanillo y otra en Morelia, Mich.
					</p>
				</div>
			</div>

		</div><!--end of row-->

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="feature-list text-center mb0">
					<i class="">
						<img class="margin-tb20" src="../img/sitio/agencias/grupo/grupo-suecia-car.png" alt="Grupo SUECIA CAR">
					</i>
					<!--<h5>We employ our unique methodology to ensure your campaign is successful</h5>-->
					<p>
						<strong style="font-weight: bold; color: #000;">Grupo SUECIA CAR</strong> con: <strong style="font-weight: bold; color: #000;">VOLVO</strong> con 2 Agencias en Guadalajara, 3 más en D.F. (Interlomas/Sta. Fe/Service Cuajimalpa).  Y Agencias en Morelia y Querétaro.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
			</div>

			<div class="col-md-4 col-sm-6">
			</div>

		</div><!--end of row-->
	--}}
	<div class="row">
		<div class="col-sm-12 text-center">
			<div class="pre-video">
				<i class="icon pe-7s-play"></i>
				<h2>Ver Video</h2>
			</div>

			<div class="iframe-holder" id="wrapper_iframe_holder">
				<i class="close-frame pe-7s-close-circle" id="stop-video"></i>
				<iframe id="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/-E9elp5ZABg" frameborder="0" allowfullscreen allowscriptaccess="always"></iframe>
			</div>
		</div>
	</div><!--end of row-->
</div><!--end of container-->
