<div class="container">
	<div class="row contact_main">
		<div class="col-md-6 col-sm-12 contact_content">
			<div id="form-wrapper">
				<div id="container-form-contact"></div>
			</div>
			<div class="form-thanks" style="display: none;">
		        <p class="agradecimiento_titulo">Mensaje enviado</p>
		        <hr>
		        <p class="agradecimiento_titulo2">En breve responderemos tu mensaje al siguiente correo:<br /><span id="email-from">-</span></p>
		    </div>
		    <div class="form-error" style="display: none;">
		        <p class="agradecimiento_titulo">Hubo un error</p>
		        <hr>
		        <p class="agradecimiento_titulo2">Intentalo nuevamente<br /><span id="email-from">-</span></p>
		    </div>
		    <div class="form-loader" style="display: none;">
		    	<div class="loader">
		    		<div class="loader-wrap">
		    			<div class="loader-item"></div>
		    		</div>
		    	</div>
		    </div>
		</div>
		<div class="col-md-1 col-sm-6"></div>
		<div class="col-md-5 col-sm-6">
			<div class="contact-method animated hiding" data-animation="fadeInLeft" delay="90">
				<i class="icon pe-7s-clock"></i>
				<span>
					<b>HORARIOS DE LUNES A VIERNES</b> <br>
					DE 9:00 A 2:00 P.M. Y DE 4:00 A 7:00 P.M. <br>
					Y <b>SÁBADOS</b> DE 9:00 A 2:00 P.M.
				</span>
			</div>

			<div class="contact-method animated hiding" data-animation="fadeInRight" delay="120">
				<i class="icon pe-7s-phone"></i>
				<span>
					<b>TELÉFONO DIRECTO: </b> 3818 7569 <br>
					<b>CONMUTADOR: </b> 38187500 <b>EXT.</b> 1317 <br>
					<b>CELULAR: </b> 331895 5463
				</span>
			</div>

			<div class="contact-method animated hiding" data-animation="fadeInLeft" delay="160">
				<i class="icon pe-7s-mail"></i>
				<span>
					<a href="mailto:marina.reyes@camcar.mx?subject=feedback" "Contactanos">MARINA.REYES@CAMCAR.MX</a>
				</span>
			</div>
		</div>
	</div><!--end of row-->
	<div class="clearfix"></div>
	<br><br><br>
	<div class="row">
		<div class="col-md-12 col-sm-12 text-center">
			<a href="https://www.occ.com.mx/empleos-en-mexico-y-el-mundo/para-trabajar-en-Grupo--Camcar" class="button py4 button-transparent bg-youtube col-md-6 col-sm-6 animated hiding" data-animation="zoomIn" data-delay="200" title="Bolsa de Trabajo" style="float: none; font-size: 2em;" target="_blank">
			{{!--<a id="go-job-board" class="button py4 button-transparent bg-youtube col-md-6 col-sm-6" title="Bolsa de Trabajo" style="float: none; font-size: 2em;">--}}
				<i class="fa fa-briefcase"></i> BOLSA DE TRABAJO
			</a>
		</div>
	</div><!--end of row-->
</div><!--end of container-->
