<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-md-12 col-sm-12 text-center">
                <h1 class="h-landmark"><span>CAMCAR Grupo Automotriz</span></h1>
            </div>
            <p class="super-lead text-justify animated hiding" data-animation="fadeInUp" data-delay="60" style="font-size: 18px; padding: 0px; margin-bottom: 0px;">
                Somos el resultado de un gran equipo que aprendió a adaptarse al cambio.
            </p>
            <p class="super-lead text-justify animated hiding" data-animation="fadeInUp" data-delay="80" style="font-size: 18px; padding: 0px; margin-bottom: 0px;">
                Nacimos con la <strong>visión</strong> de ser el <strong>grupo automotriz más grande y confiable</strong> de México, asumiendo la <strong>misión</strong> de <strong>desarrollarnos eficazmente y de manera integral</strong>.
            </p>
            <p class="super-lead text-justify animated hiding" data-animation="fadeInUp" data-delay="100" style="font-size: 18px; padding: 0px; margin-bottom: 0px;">
                Nuestros <strong>valores</strong> son: la <strong>CALIDAD DE SERVICIO</strong>, la <strong>CONGRUENCIA</strong> y <strong>CONTUNDENCIA</strong> así como la <strong>CLARIDAD</strong> de <strong>RUMBO</strong> mediante la <strong>COMUNICACION</strong> transparente y directa con nuestras marcas.
            </p>
            <p class="super-lead text-justify animated hiding" data-animation="fadeInUp" data-delay="100" style="font-size: 18px; padding: 0px; margin-bottom: 0px;">
                Es por esto que en <strong>CAMCAR Grupo Automotriz, ¡vamos por más!</strong>
            </p>
        </div>
    </div><!--end of row-->
</div><!--end of container-->
