<div class="container">
	<div class="row" id="header-block-first">
		<div class="col-md-12 col-sm-12 text-center">
			<h1 class="h-landmark"><span>Seminuevos</span></h1>
			<h5 class="h5-landmark" style="padding-top: 25px;"><strong>CAMCAR Grupo Automotriz.<strong><em style="padding: 0px 0px 0 10px;">Ve por Más...</em></strong></strong></h5>
			<p class="super-lead" style="font-size: 115% !important;">
				8 pisos de exhibición con inventario certificado. <br>
				Tenemos la <strong>MISION ES ACRECENTAR LA FUERZA DEL GRUPO</strong> cumpliendo con los altos estándares de calidad que nos imponen cada una de nuestras marcas. Para respaldar la promesa de atención y servicio a nuestros clientes. La asesoría de los expertos.
			</p>
			<p class="super-lead" style="font-size: 115% !important;">
			</p>
		</div>
	</div><!--end of row-->
</div><!--end of container-->
