<section class="fullwidth-features about-content">
	<div class="col-md-4 col-sm-6">
		<div class="fullwidth-feature cur-hover" id="fullwidth-features-go-workshop">
			<div class="top bg-workshop animated hiding" data-animation="fadeInLeft" data-delay="500">
				<i class="feat-workshop-car feat-6x"></i>
				<h5>TALLERES</h5>
				<div class="detail-line"></div>
				<p>
					Con 6 talleres especializados, asesoría, refacciones y personal técnico especializado.
				</p>
				<a class="primaryLink withStyle fullwidth-feature-color-workshop">
					<span>Talleres</span>
				</a>
				{{!--<a class="button not-rounded btn-danger">Talleres</a>--}}
			</div>
		</div><!--end of fullwidth feature-->
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="fullwidth-feature cur-hover" id="fullwidth-features-go-rental" data-agencie-rental-name="U-SAVE Car &amp; Truck Rental" data-agencie-rental-key="u-save-car-truck-rental">
			<div class="top bg-rentails animated hiding" data-animation="fadeInUp" data-delay="500">
				<i class="feat-rent-car feat-6x"></i>
				<h5>U-Save car & Truck Rental</h5>
				<div class="detail-line"></div>
				<p>
					Es una marca especializada en renta de automóviles y camionetas a precios competitivos.
				</p>
				<a class="primaryLink withStyle fullwidth-feature-color-rentails">
					<span>Rentas</span>
				</a>
				{{!<a class="button not-rounded btn-change-color-rentails">Rentas</a>--}}
			</div>
		</div><!--end of fullwidth feature-->
	</div>
	<div class="col-md-4 col-sm-6">
		<div class="fullwidth-feature cur-hover" id="fullwidth-features-go-inventories-preowned">
			<div class="top bg-pre-owned animated hiding" data-animation="fadeInRight" data-delay="500">
				<i class="feat-seminuevos-car feat-6x"></i>
				<h5>SEMINUEVOS</h5>
				<div class="detail-line"></div>
				<p>
					9 Pisos de exhibición donde encontrara todas las marcas, asesoría y gama de opciones para apoyar su mejor selección.
				</p>
				<a class="primaryLink withStyle fullwidth-feature-color-pre-owned">
					<span>Seminuevos</span>
				</a>
				{{!--<a class="button not-rounded btn-change-color-pre-owned" >Seminuevos</a>--}}
			</div>
		</div><!--end of fullwidth feature-->
	</div>
</section>
