<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div id="x-content-band-3" class="x-content-band vc" style="padding-top: 0px !important;">
                {{#each campa}}
                <div class="x-column vc one-sixth">
                    <a class="x-img x-img-link x-img-none none inner-link" href="#{{agnId}}" target="default">
                        <img src="../img/sitio/talleres/logos/{{agnlogo1}}">
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div><!--end of row-->
</div><!--end of container-->
