<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-md-12 col-sm-12 text-center">
                <h1 class="h-landmark">
                    <span>¡Estamos buscando un talento como tú!</span>
                </h1>
            </div>
        </div>
    </div><!--end of row-->
    <div class="row contact_main">
        <div class="col-md-6 col-sm-12 contact_content">
            <span class="text-left" style="font-weight: bold; color: #000;">Envíanos tu CV:</span>
            <div id="form-wrapper">
                <div id="content-form-job-opportunities"></div>
            </div>
            <div class="form-thanks" style="display: none;">
                <p class="agradecimiento_titulo">Mensaje enviado</p>
                <hr>
                <p class="agradecimiento_titulo2">En breve responderemos tu mensaje al siguiente correo:<br /><span id="email-from">-</span></p>
            </div>
            <div class="form-error-message" style="display: none;">
                <p class="agradecimiento_titulo">Hubo un error</p>
                <hr>
                <p class="agradecimiento_titulo2">Intentalo nuevamente<br /><span id="email-from">-</span></p>
            </div>
            <div class="form-loader" style="display: none;">
                <div class="loader">
                    <div class="loader-wrap">
                        <div class="loader-item"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-5 col-sm-6">
            <div class="contact-method">
                <i class="icon pe-7s-phone"></i>
                <span>
                    <b>TELÉFONO: </b> 3818 7539 <br> <b>EXT.</b> 1279
                </span>
            </div>

            <div class="contact-method">
                <i class="icon pe-7s-mail"></i>
                <span>
                    <b>CONTACTO: </b> ARACELI SOTO <br>
                    <a href="mailto:reclutamiento@camcar.mx?subject=Reclutamiento" "Reclutamiento">RECLUTAMIENTO@CAMCAR.MX</a>
                </span>
            </div>
            
            <a href="https://www.linkedin.com/company/grupo-automotriz-camcar" target="_blank" class="button button-transparent bg-linkedin col-md-12 col-xs-12">
                <i class="social_linkedin"></i>
                LinkedIn
            </a>

        </div>


        {{!--<div class="col-md-5 col-sm-6 col-md-offset-1">
            <img class="x-img x-img-none none contact-image" src="../resources/public/img/contacto/contacto.png">
        </div>--}}
    </div><!--end of row-->
    <div class="row">
        <div class="clearfix" style="padding: 50px 0 0px;">
            <div class="col-md-12 col-sm-12">
                <span class="text-left" style="font-weight: bold; color: #000;">Encuéntranos en:</span>
                <ul class="ul-found-job-opportunities text-center">
                    <li class="li-found-job-opportunities">
                        <a href="https://www.occ.com.mx/empleos-en-mexico-y-el-mundo/desde-hace-60-dias/camcar" target="_blank">
                            <img src="../img/sitio/bolsa-de-trabajo/logo_occ.png" alt="OCC Mundial" style="height: 44px;">
                        </a>
                    </li>
                    <li class="li-found-job-opportunities">
                        <a href="http://www.indeed.com.mx/trabajo?q=CAMCAR&l=Guadalajara%2C+Jal." target="_blank">
                            <img src="../img/sitio/bolsa-de-trabajo/indeed.png" alt="indded - Una búsqueda. Todos los empleos." style="height: 44px;">
                        </a>
                    </li>
                    <li class="li-found-job-opportunities">
                        <a href="http://empleomx.com/" target="_blank">
                            <img src="../img/sitio/bolsa-de-trabajo/empleomx.png" alt="empleomx" style="height: 44px;">
                        </a>
                    </li>
                    <li class="li-found-job-opportunities">
                        <a href="https://www.empleo.gob.mx/" target="_blank">
                            <img src="../img/sitio/bolsa-de-trabajo/portal_del_empleo.png" alt="portaldelempleo" style="height: 44px;">
                        </a>
                    </li>
                    <li class="li-found-job-opportunities">
                        <a href="http://www.unmejorempleo.com.mx/busqueda_resultados.php" target="_blank">
                            <img src="../img/sitio/bolsa-de-trabajo/unmejorempleo.png" alt="Un mejor empleo, la oportunidad que buscas está aquí." style="height: 44px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div><!--end of container-->
</div><!--end of row-->