<div class="container">
	<div class="row">
		<section class="double-pad">
		    <div class="background-image-holder ">
		        <img alt="{{campa.0.agnnombre}}" class="background-image" src="../img/sitio/agencias/fachadas-seminuevos/{{campa.0.agnfachada}}">
		    </div>
		</section>
	</div>
</div>
