<div class="container">
	<div class="row">
		<!-- Small Screens Agencies Tabs Toggle Button -->
        <button class="sem-style-button-agencies-resp button button-transparent bg-facebook resp-button bg-black-camcar visible-sm visible-xs" id="Show-Agencies-Tabs" style="text-align: left;"><i class="fa fa-eye fa-fw fa-lg" style="padding-right: 30px;"></i> <span>Agencias</span></button>
	</div><!--end of row-->
</div><!--end of container-->
