<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<div class="pre-video">
				<i class="icon pe-7s-play"></i>
				<h2>Agencias</h2>
			</div>

			<div class="iframe-holder">
				<i class="close-frame pe-7s-close-circle"></i>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/uYDj1FuQiQ4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div><!--end of row-->
</div><!--end of container-->