<!-- Start Site Header -->
{{!--<header class="navbar navigation-bar-header nav-content">--}}
<div class="container container-site sp-cont">
    <a class="visible-sm visible-xs mobile-toggle" id="menu-toggle">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
    </a>
    <a class="visible-xs-home-link visible-sm visible-xs" id="go-home-logo-resp">
        <img alt="Logo" class="logo" src="../img/logos/logo_camcar.png" alt="CAMCAR">
    </a>
    <!-- Main Navigation -->
    <nav class="main-navigation toggle-menu navigation-bar no-print" role="navigation">
        <a class="home-link main-navigator-home-link no-print" id="go-home-logo">
            <img alt="Logo" class="logo no-print" src="../img/logos/logo_camcar.png" alt="CAMCAR">
        </a>
        <ul class="sf-menu navigation-bar no-print">
            <li><a id="go-index" class="cur-hover menu-toggle-close">Inicio</a></li>
            <li><a id="go-agencies-news" class="cur-hover menu-toggle-close">Agencias</a></li>
            {{!--<li><a id="go-agencies-trucks" class="cur-hover menu-toggle-close">Camiones</a></li>--}}
            <li class="has-dropdown">
                <a id="dropdown-nav-preowuned" class="cur-hover">Seminuevos</a>
                <ul class="subnav">
                    <li><a id="go-agencies-preowned" class="cur-hover menu-toggle-close">Agencias</a></li>
                    <li><a id="go-inventories-preowned" class="cur-hover menu-toggle-close">Inventarios</a></li>
                </ul>
            </li>
            <li class=""><a id="go-workshop" class="cur-hover menu-toggle-close">Talleres</a></li>
            <li class=""><a id="go-rental" class="cur-hover menu-toggle-close" data-agencie-rental-name="U-SAVE Car &amp; Truck Rental" data-agencie-rental-key="u-save-car-truck-rental">Rentas</a></li>
            <li class=""><a id="go-blog" class="cur-hover menu-toggle-close">Noticias</a></li>
            {{!--
            <!--<li><a id="go-contact" class="cur-hover menu-toggle-close">Contacto</a></li>-->
            <li class=""><a id="go-about-us" class="cur-hover menu-toggle-close">Nosotros</a></li>
            --}}
            <li class="has-dropdown">
                <a id="go-about-us" class="cur-hover menu-toggle-close">Nosotros</a>
                <ul class="subnav">
                    <li><a id="go-job-opportunities" class="cur-hover menu-toggle-close">Bolsa de Trabajo</a></li>
                    <li><a id="go-contact" class="cur-hover menu-toggle-close">Contacto</a></li>
                </ul>
            </li>
            <li class="visible-sm visible-xs visible-xs-poeple"><a href="../intranet/login/" id="go-people-camcar-resp" class="cur-hover">Gente Camcar</a></li>
        </ul>
        <a href="../intranet/login/" class="vin_people none-visible-xs hint-vin--bottom no-print" data-vin-hint="GENTE CAMCAR" id="sem-people-camcar"><i class="fa fa-user no-print"></i></a>
    </nav>
</div>
{{!--</header>--}}
<!-- End Start Site Header -->
