<!-- Actions bar -->
<div class="actions-bar tsticky" id="tsticky">
    <div class="container">
        <div class="row" id="small-screen-filters">
            <!-- Small Screens Filters Toggle Button -->
            <button class="sem-style-button-resp btn btn-default visible-xs" id="Show-Filters"><i class="fa fa-search fa-fw fa-lg" style="padding-right: 30px;"></i>Filtros de Búsqueda</button>
        </div>
    </div>
</div>
