<div class="sem-style-panel-filters form-inline form-noPrint" id="Search-Filters">
    <div class="form-group">
        <form id="search-sem">
            <div class="row">
                <div class="col-md-12 col-sm-12" id="panel-filters-cateogories">
                </div>
            </div>
        </form>
    </div>
</div>
