<div class="main" role="main">
    <div id="content" class="content-results full">
        <div class="container">
            <div class="row">
                <!-- Listing Results -->
                <div class="col-md-12 results-container">
                    <div class="results-container-in">
                        <div class="view-results-list" id="content-start-views-results-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
