<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="col-md-12 col-sm-12 text-center">
                <h1 class="h-landmark animated hiding" data-animation="fadeInDown" data-delay="50" style="margin-top: 15px; margin-bottom: -10px;"><span>Contacto</span></h1>
            </div>
        </div>
    </div><!--end of row-->
</div><!--end of container-->
