<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 text-center">
                <h1 class="h-landmark"><span>Camiones</span></h1>
                <h5 class="h5-landmark" style="padding-top: 25px; "><strong>CAMCAR Grupo Automotriz.<strong><em style="padding: 0px 0px 0 10px;">Ve por Más...</em></strong></strong></h5>
                <p class="super-lead col-md-8 col-md-offset-2" style="font-size: 115% !important;">
                    CAMCAR es el resultado de un gran equipo. Nacimos con la <strong>VISIÓN DE SER LÍDERES EN EL MERCADO</strong> al que hoy atendemos con la mayor oferta de marcas automotrices.
                </p>
            </div>
        </div>
    </div><!--end of row-->
</div><!--end of container-->
