/*!
// 5. Buttons
// --------------------------------------------------*/
a {
  color: #b02f1f;
}
a,
a:hover,
a:visited,
a:active,
a:link,
a:active {
  text-decoration: none;
}
.btn {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  min-width: 170px;
  border: 3px solid;
  padding: 17px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  border-radius: 0;
  border-color: #b02f1f;
  color: #b02f1f;
}
.btn:hover {
  background: #b02f1f;
  color: #fff;
}
.btn-filled {
  background: #b02f1f;
  color: #fff;
  border-color: #b02f1f;
}
.btn-filled:hover {
  background: #fff;
  color: #b02f1f;
  border-color: #fff;
}
@media all and (max-width: 767px) {
  .btn {
    min-width: 0;
    padding: 10px 14px 12px 14px;
    border: 2px solid;
  }
  .btn-filled {
    border-color: #b02f1f;
  }
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-white:hover {
  background: #fff;
  color: #b02f1f;
  border-color: #fff;
}
.btn-white.btn-filled {
  background: #fff;
  color: #b02f1f;
}
.btn-white.btn-filled:hover {
  background: #b02f1f;
  color: #fff;
  border-color: #b02f1f;
}
.btn:nth-of-type(even) {
  margin-left: 24px;
}
@media all and (max-width: 767px) {
  .btn:nth-of-type(even) {
    margin-left: 0;
  }
}
.btn-sm {
  max-width: 120px;
  min-width: 0;
  padding: 8px 16px;
  border: 2px solid;
}
.btn-sm.btn-filled {
  border-color: #b02f1f;
}
.btn-sm.btn-filled:hover {
  border-color: #fff;
}
.text-link {
  font-weight: 400;
  display: inline-block;
  border-bottom: 2px solid;
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  position: relative;
  width: auto;
  color: #b02f1f;
  border-color: #b02f1f;
}
.text-link.text-white {
  border-color: #fff;
  color: #fff;
}
.text-link.text-white:hover {
  color: #fff;
  border-color: #fff;
}
.text-link .arrow_right {
  width: 17px;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transform: translate3d(30px, 0px, 0px);
  -webkit-transform: translate3d(30px, 0px, 0px);
  -moz-transform: translate3d(30px, 0px, 0px);
  display: inline-block;
  position: relative;
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 18px;
}
.text-link:hover .arrow_right {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}
.text-link:hover {
  padding-right: 20px;
  color: #bf2718;
}
.inline-link {
  color: #b02f1f;
  font-weight: 700;
}
.inline-linl:hover {
  color: #bf2718;
}
