<label id="label-name-project" for="">PROJECT</label>
<div id="main-compiler">
    <form name="form-compiler" method="post" accept-charset="utf-8">
        <input type="hidden" name="iHidden" value="execute">
        <input type="submit" name="execute-site" id="execute-site" class="execute_site" value="Compilar">
    </form>
</div>
