@charset "UTF-8";

@font-face {
  font-family: "maintenance-services";
  src:url("maintenance-services/maintenance-services.eot");
  src:url("maintenance-services/maintenance-services.eot?#iefix") format("embedded-opentype"),
    url("maintenance-services/maintenance-services.woff") format("woff"),
    url("maintenance-services/maintenance-services.ttf") format("truetype"),
    url("maintenance-services/maintenance-services.svg#maintenance-services") format("svg");
  font-weight: normal;
  font-style: normal;

}

.ms:before {
  font-family: "maintenance-services" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.ms-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ms-2x {
  font-size: 2em;
}
.ms-3x {
  font-size: 3em;
}
.ms-4x {
  font-size: 4em;
}
.ms-5x {
  font-size: 5em;
}
.ms-6x {
  font-size: 6em;
}
.ms-fw {
  width: 1.28571429em;
  text-align: center;
}
.ms-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.ms-ul > li {
  position: relative;
}
.ms-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.ms-li.ms-lg {
  left: -1.85714286em;
}
.ms-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.ms-spin {
  -webkit-animation: ms-spin 2s infinite linear;
  animation: ms-spin 2s infinite linear;
}
.ms-pulse {
  -webkit-animation: ms-spin 1s infinite steps(8);
  animation: ms-spin 1s infinite steps(8);
}
@-webkit-keyframes ms-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ms-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.ms-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ms-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ms-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.ms-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.ms-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .ms-rotate-90,
:root .ms-rotate-180,
:root .ms-rotate-270,
:root .ms-flip-horizontal,
:root .ms-flip-vertical {
  filter: none;
}
.ms-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.ms-stack-1x,
.ms-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.ms-stack-1x {
  line-height: inherit;
}
.ms-stack-2x {
  font-size: 2em;
}
.ms-inverse {
  color: #ffffff;
}

.ms-maintenance-services-brake-fluid:before {
  content: "\e000";
}
.ms-maintenance-services-brakes:before {
  content: "\e001";
}
.ms-maintenance-services-buffer:before {
  content: "\e002";
}
.ms-maintenance-services-cleaning-injectors:before {
  content: "\e003";
}
.ms-maintenance-services-oil:before {
  content: "\e004";
}
.ms-maintenance-services-tuning:before {
  content: "\e005";
}
