<div class="page-header height-300 margin-bottom-30">
	<div class="text-center blue-grey-800 margin-top-50">
		<div class="font-size-50 margin-bottom-30 blue-grey-800">Mount Mckinley</div>
		<ul class="list-inline font-size-14">
			<li>
				<i class="icon wb-map margin-right-5" aria-hidden="true"></i>
				Central and southern Alaska
			</li>
			<li class="margin-left-20">
				<i class="icon wb-heart margin-right-5" aria-hidden="true"></i>
				26,428
			</li>
		</ul>
	</div>
</div>
<div class="page-content container-fluid">
	<div class="row" data-plugin="matchHeight" data-by-row="true"></div>
</div>
