<div class="site-menubar-body">
    <div>
        <div>
            <ul class="site-menu">
                {{!--
                <li class="site-menu-category">General</li>
                --}}
                <li id="site-section-home" class="site-menu-item has-sub">
                    <a id="go-section-home" data-slug="layout">
                        <i class="site-menu-icon navi-nav-icons-home-v1 fa-3x" aria-hidden="true"></i>
                        <span class="site-menu-title">Inicio</span>
                    </a>
                </li>
                <li id="site-section-agreement" class="site-menu-item has-sub">
                    <a id="go-section-agreement" data-slug="layout">
                        <i class="site-menu-icon navi-nav-icons-agreement-v1 fa-3x" aria-hidden="true"></i>
                        <span class="site-menu-title">Convenios</span>
                    </a>
                </li>
                {{!--
                <li id="site-section-birthday" class="site-menu-item has-sub">
                    <a href="javascript:void(0)" data-slug="layout">
                        <i class="site-menu-icon navi-nav-icons-birthday-v1 fa-3x" aria-hidden="true"></i>
                        <span class="site-menu-title">Cumpleaños</span>
                    </a>
                </li>
                --}}
                <li id="site-section-directory" class="site-menu-item has-sub">
                    <a id="go-section-directory" data-slug="layout">
                        <i class="site-menu-icon navi-nav-icons-directory-v2 fa-3x" aria-hidden="true"></i>
                        <span class="site-menu-title">Directorio</span>
                    </a>
                </li>
                <li id="site-section-preowned" class="site-menu-item has-sub">
                    {{!--
                    <a href="../admin" data-slug="layout" >
                    --}}
                    <a href="../admin" data-slug="layout" target="_blank">
                        <i class="site-menu-icon navi-nav-icons-movil-preowned-v2 fa-3x" aria-hidden="true"></i>
                        <span class="site-menu-title">Administrador</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>