<form id="cum-form-send-message">
    <textarea name="cum-send-message" id="cum-send-message" class="box-message-area" placeholder="Escribe un mensaje..."></textarea>
    <input type="hidden" name="cum-send-from" id="cum-send-from" value="">
    <input type="hidden" name="cum-send-email" id="cum-send-email" value="">
    <input type="hidden" name="cum-send-to" id="cum-send-to" value="">
    <input type="hidden" name="cum-send-email-to" id="cum-send-email-to" value="">
    <input type="hidden" name="cum-send-date" id="cum-send-date" value="">
</form>
<button type="button" class="box-sen-message btn-pulse" id="cum-send-message-area">
    <i class="fa fa-paper-plane fa-fw fa-lg"></i>
</button>