<!-- Panel Projects -->
<div class="panel">
	<div class="panel-heading text-center">
		<img src="../../img/logos/camcar-racing-team.png" width="200" alt="Camcar Racing Team" class="mt-25">
		<h1 class="panel-title fz-26x uppercase">
			Precio empleado
		</h1>
		<p class="page-description fz-19x weight-400 letter-spaccing-1px plr-25x100">
			Al cumplir el primer año en el grupo obtienes el beneficio del precio empleado en todas las marcas que integramos <img src="../../img/logos/title-camcar-01.png" width="100" alt=". . .">
		</p>
	</div>
</div>
<div class="panel bg-transparent mb-0">
	<div class="panel-body container-fluid p-0">
		<div class="row">
			<div class="col-sm-6 col-lg-6 col-md-6">
				<div class="widget widget-shadow bg-red-camcar text-center">
            		<div class="widget-content white padding-20 height-full">
              			<div class="margin-top-0 widget-title-border">
            				<h1 class="panel-title fz-26x uppercase white">
            					Nuevos y Seminuevos
							</h1>
              			</div>
              			<h1 class="margin-top-0 margin-bottom-0 white uppercase">al costo</h1>
              			<em class="mb-20" style="display: block;">(mas un 5% de gastos de operación)</em>
              			<p class="page-description mb-0 white fz-16px weight-400 letter-spacing-1px plr-10x100">
							Adicional a los incentivos o bonos que en las fechas de tu compra tenga como promoción la planta armadora.
						</p>
            		</div>
          		</div>
			</div>
			<div class="col-sm-6 col-lg-6 col-md-6">
				<div class="widget widget-shadow bg-red-camcar text-center">
            		<div class="widget-content white padding-20 plr-10 height-full">
              			<div class="margin-top-0 widget-title-border">
            				<h1 class="panel-title fz-26x uppercase white">
            					Servicios y Refacciones
							</h1>
              			</div>
              			<h1 class="margin-top-0 margin-bottom-0 white uppercase">al costo</h1>
              			<em class="mb-20" style="display: block;">(mas un 10% de gastos de operación)</em>
              			<p class="page-description mb-0 white fz-16px weight-400 letter-spacing-1px plr-10x100">
							Excepto en paquetes y promociones que en la fecha de tu compra tenga como promoción la planta armadora.
						</p>
            		</div>
          		</div>
			</div>
		</div>
	</div>
</div>
<div class="panel">
	<div class="panel-body padding-20 height-full text-center pt-3x100">
		<div class="row">
			<div class="col-sm-12 col-lg-12 col-md-12 ptb-0 plr-30 height-full">
				<p class="page-description fz-19x p-0 weight-400 letter-spacing-1px">
					Simplemente identifícate como GENTE CAMCAR con tu gafete de trabajo y solicítalo desde el inicio de tu compra.
				</p>
			</div>
		</div>
		<div class="row p-2x100">
			<div class="col-sm-6 col-lg-6 col-md-6 ptb-0 plr-10x100 height-full">
				<p class="page-description fz-17px p-2x100 weight-300 letter-spacing-1px">
					Todo comentario o aportación que te interese hacer relativa a este beneficio, puedes dirigirte con:
				</p>
			</div>
			<div class="col-sm-6 col-lg-6 col-md-6 ptb-0 plr-30 height-full text-left fz-17px p-0 weight-300 letter-spacing-1px">
				<ul>
					<li>
						Jose Luis Aldana, Gerente de Recursos Humanos CAMCAR.
						<a class="hightlight text-right" href="mailto:joseluis.aldana@camcar.mx" "joseluis.aldana@camcar.mx">
							<span>
								joseluis.aldana@camcar.mx
	                        </span>
	                    </a>						
					</li>
					<li>
						Marina Reyes, Gerente de Estrategia de Marca CAMCAR.
						<a class="hightlight text-right" href="mailto:marina.reyes@camcar.mx" "marina.reyes@camcar.mx">
							<span>
								marina.reyes@camcar.mx
	                        </span>
	                    </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="panel">
	<div class="panel-heading text-center">
		<input type="hidden" name="brands-agreements" id="brands-agreements">
		<h1 class="panel-title fz-26x uppercase">
			<i class="site-menu-icon navi-nav-icons-agreement-v1 fa-2x" aria-hidden="true"></i>
			Convenios otras marcas
		</h1>
	</div>
</div>
<div class="panel bg-transparent mb-0">
	<div class="panel-body p-0" id="content-agreement-other-brands">		
	</div>
</div>
<!-- End Panel Projects -->