<div class="box-header box-modal-close clearfix">
    <button type="button" class="boxclose btn-close boxclose-transition directory" id="boxclose">
        <i class="fa fa-times fa-fw fa-lg"></i>
    </button>
    <h4 class="box-title" id="">
        <span class="box-title-span directory uppercase">
        Envia un mensaje
        </span>
    </h4>
</div>
<div class="box-body box-modal-close clearfix">
    <div class="process-mailing">
        <div id="form-wrapper">
            <div id="container-form-dir-send-message"></div>
        </div>
        <div class="form-thanks" style="display: none;">
            <p class="agradecimiento_titulo">Mensaje enviado</p>
        </div>
        <div class="form-error" style="display: none;">
            <p class="agradecimiento_titulo">Hubo un error</p>
            <hr>
            <p class="agradecimiento_titulo2">Intentalo nuevamente<br /><span id="email-from">-</span></p>
        </div>
        <div class="form-loader" style="display: none;">
            <span class="inner-loader">
                <span class="inner-loader-wrap">
                    <span class="inner-loader-item"></span>
                </span>
            </span>
        </div>
    </div>
</div>
<div class="box-footer box-modal-close clearfix"></div>