<div class="slidePanel-actions btn-group hint--left" 
     data-hint="CERRAR" 
     aria-label="actions" 
     role="group">
    <button type="button" 
            class="btn btn-pure btn-inverse slidePanel-close icon wb-close slide-panel-wb-close-bg" 
            aria-hidden="true"></button>
</div>