{% extends "super.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content_recurrent %}
    <div id="content-start-body-main" class="about-content">
        <div class="main" role="main">
            <div id="content" class="content-results full">
                <div class="container">
                    <h1>PÁGINA NO ENCONTRADA</h1>
                    <a href="#" onclick="history.go(-1);">
                        <h3>REGRESAR</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}