/* ==================================================
   3. Margin Bottom Sets
================================================== */

.margin-0{
	margin-bottom:0 !important;
}
.margin-5{
	margin-bottom:5px !important;
}
.margin-10{
	margin-bottom:10px !important;
}
.margin-15{
	margin-bottom:15px !important;
}
.margin-20{
	margin-bottom:20px !important;
}
.margin-30{
	margin-bottom:30px !important;
}
.margin-40{
	margin-bottom:40px !important;
}
.margin-50{
	margin-bottom:50px !important;
}
.margin-60{
	margin-bottom:60px !important;
}
.margin-70{
	margin-bottom:70px !important;
}
.margin-80{
	margin-bottom:80px !important;
}
.push-top{
	margin-top:35px;
}
.push-bottom{
	margin-bottom: 35px;
}
.margin-tb0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.margin-tb5 {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
.margin-tb10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.margin-tb15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.margin-tb20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.mt0 {margin-top: 0 !important;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt34 {margin-top: 34px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

.mb0 {margin-bottom: 0 !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb34 {margin-bottom: 34px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}

.ml0 {margin-left: 0 !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml34 {margin-left: 34px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}

.mr0 {margin-right: 0 !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr34 {margin-right: 34px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}

.mlr30 {
	margin-left: 30px !important;
	margin-right: 30px !important;
}

.mtb25 {
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}
.mlr0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin{
    margin: 0px !important;
}