@charset "UTF-8";

/** 
 * STYLE VOLKSWAGEN DEALERS
 *
 * @file		layout.css
 * @name		Style Volkswagen
 * @version		1
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.ancgvw.com/
 * @copyright	2012 Asociación Nacional de Concesionarios del Grupo Volkswagen, A.C.
 *
 */
 
 /* ~~~~~~~~~ generic ~~~~~~~~~~ */

html, body {
	margin: 0;
	padding: 0;
}

/* ~~~~~~~~~ layout ~~~~~~~~~~ */
@font-face {
	font-family: volkswagen_black;
	src: url('http://mkt.ancgvw.com/mailing/img/VWHEABLA.TTF');
}
@font-face {
	font-family: volkswagen_book;
	src: url('http://mkt.ancgvw.com/mailing/img/VWHEABOO.TTF');
}
#container {
	width: 958px;
	margin: 0px auto;
	background: #fff;
	padding: 0px;
	overflow: hidden;
	position: absolute;
	overflow:scroll;
}
article.page-content{
	border: 1px solid #cfd7d9 !important;
	width:auto;
	margin-top: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 5px 0px 2px #555555;
   -webkit-box-shadow: inset 5px 0px 2px #555555;
   box-shadow: inset 5px 0px 2px #555555;
   background-color:#ffffff;
   position:fixed;
	height: auto;
	padding-bottom: 20px;
	}


/* ~~~~~~~~~ header ~~~~~~~~~~ */

#page-header {
position: fixed;
height: 114px;
margin: 0 1px -3px 1px;
z-index: 500;
}
#menu_top{
	position: absolute;
	right:0px;
	top: 23px;
	overflow: hidden;
	font-size: 12px !important;
	
}
#menu_top ul, #menu_top li{
	font-size: .9em !important;
	color: #8994a0;
	font-family: Arial, Helvetica, sans-serif;
	 list-style: none;
 margin: 0;
 padding: 0;
 float: left;
}
#menu_top li{
	padding:0px 8px;
	border-right: 1px solid #cdd7db;
	height: 12px;
}
#menu_top li.last_ittem{
	padding:0px 0px 0px 8px;
	border-right: none !important;
	height: 12px;
}
#menu_top a{
color: #8994A0;
text-decoration: none;
}
#menu_top a:hover{
color: #2274AC;
text-decoration: none;
}
#menu_list a{
color: #33434c;
text-decoration: none;
}
#menu_list a:hover{
color: #2274AC;
text-decoration: none;
}

#logo{position: absolute;
left:0px;
top: 35px;
border:none !important;
}
a img { border: 0; }
#logo a{
border:none !important;
}
#dealer_name{
	font-family: volkswagen_black, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif !important;
	font-size: 22px !important;
	font-weight: bold\9 !important; /* target IE8 */
    *font-weight: bold !important; /* target IE7 */
    _font-weight: bold !important; /* target IE6 */
	position: absolute !important;
	left:82px!important;
	top: 52px !important;
	border:none !important;
}

#botones{
	position: absolute;
	right:0px;
	top: 70px;
	overflow: hidden;
	font-size: 12px !important;
	font-size: 10px\9; /* target IE8 */
    *font-size: 10px; /* target IE7 */
    _font-size: 10px; /* target IE6 */
	font-family: volkswagen_book, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;;
	color: #2274ac;
	
}
#botones ul { height:30px;}
#botones ul, #botones li{
	font-size: .9em !important;
	color: #0055a4;
	 list-style: none;
 margin: 0;
 padding: 0;
 float: left;
}
#botones li{
	padding:4px 10px 2px 28px;
	border: 1px solid #dedede;
	border-bottom: 2px solid #dedede;
	height: 13px;
	margin-left: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#botones li:hover{
	padding:4px 10px 2px 28px;
	border: 1px solid #0055a4;
	border-bottom: 2px solid #0055a4;
	height: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0px -1px 0px #0055a4;
}
#botones li a{
	color:#2274AC;
	text-decoration:none;
}
#botones li:hover a {
	color:#fff;
	text-decoration:none;
}
#botones li.cita_servicio{
	background: #ffffff url(http://mkt.ancgvw.com/mailing/HTML5/images/cita.png) 6px 3px no-repeat;
}
#botones li.cita_servicio:hover{
	background: #2b70be url(http://mkt.ancgvw.com/mailing/HTML5/images/cita.png) 6px -9px no-repeat;
	
}
#botones li.testdrive{
	background: #fff url(http://mkt.ancgvw.com/mailing/HTML5/images/testdrive.png) 6px 2px no-repeat;
}
#botones li.testdrive:hover{
	background: #2b70be url(http://mkt.ancgvw.com/mailing/HTML5/images/testdrive.png) 6px -10px no-repeat;
	
}
#botones li.cotiza{
	background: #fff url(http://mkt.ancgvw.com/mailing/HTML5/images/cotiza.png) 6px 4px no-repeat;
}
#botones li.cotiza:hover{
	background: #2b70be url(http://mkt.ancgvw.com/mailing/HTML5/images/cotiza.png) 6px -8px no-repeat;
	
}
#botones li.promociones{
	background: #fff url(http://mkt.ancgvw.com/mailing/HTML5/images/promociones.png) 6px 2px no-repeat;
}
#botones li.promociones:hover{
	background: #2b70be url(http://mkt.ancgvw.com/mailing/HTML5/images/promociones.png) 6px -10px no-repeat;
	
}
			
/* ~~~~~~~~~ article ~~~~~~~~~~ */

article {
	width: 100%;
	overflow: hidden;
	border: 1px solid #cfd7d9 !important;
	width:auto;
	margin-top: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 5px 0px 2px #555555;
   -webkit-box-shadow: inset 5px 0px 2px #555555;
   box-shadow: inset 5px 0px 2px #555555;
   background-color:#ffffff;
   position:fixed;
	height: auto;
	padding-bottom: 20px;
	background-color:#C06;
}

section {
	float: left;
	width: 500px;
}

/* ~~~~~~~~~ aside ~~~~~~~~~~ */

aside {
	float: right;
	width: 310px;
}
			
/* ~~~~~~~~~ footer ~~~~~~~~~~ */
			
#abajo {
	width: 962px;
	display:none !important;
	margin: 20px auto;
	font-size: 1.4em;
	text-align: left;
	position:fixed;
	clear:both !important;
	padding-bottom: 20px;
	padding-top: 20px;
	display:block !important;
	height:auto;
}
#disclaimer{
	font-size: .8em !important;
	color: #8994A0;
	font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 padding: 0;
 float: left;}
 
#dealer_datos a{ text-decoration:none;color: #8994A0;}
 
 #disclaimer p{
	 font-size: 10px;
	 width:500px;
	 margin:0px;
	 padding:0px;}
#sn{
	position: absolute;
	right:0px;
	top: 0px;
	
}
#sn ul, #sn li{
list-style: none;
 margin: 0;
 padding: 0;
 float: left;
}
#sn li{
	padding:0px;
	 float: left;
	height: 12px;
	margin-left: 8px;
	width:18px;
	height: 18px;
	display: block;
	text-indent: -999999px;
}
#sn li a{
	border: none;
	text-decoration:none;
}
#sn li.facebook{
	background: #fff url(http://mkt.ancgvw.com/mailing/HTML5/images/facebook.png) 0px 0px no-repeat;
}
#sn li.twitter{
	background: #fff url(http://mkt.ancgvw.com/mailing/HTML5/images/twitter.png) 0px 0px no-repeat;
}
#sn li.youtube{
	background: #fff url(http://mkt.ancgvw.com/mailing/HTML5/images/youtube.png) 0px 0px no-repeat;
}

#legales{
	position: absolute;
	right:0px;
	top: 10px;
	overflow: hidden;
	font-size: 10px !important;	
	margin: 0 0 20px 0;
	padding-right: 3px !important;
}

#legales a{
color: #8994A0;
text-decoration: none;
}
#legales a:hover{
color: #2274AC;
text-decoration: none;
}
#legales p{
	color: #8994a0;
	font-family: Arial, Helvetica, sans-serif;
	 list-style: none;
 margin: 4px 0 0 0;
 padding: 0;
 clear:both;
 float: right;
 line-height: 1em;
}
#menu_list{
	float:left;
font-family: Arial, Helvetica, sans-serif;
	 list-style: none;
 font-size: 11px;
}
#menu_list ul{
	width: 215px;
	margin:20px 10px 0px 20px;
		 list-style: none;
}
#menu_list ul li{
	width: 215px;
	margin:10px 0px 10px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cfd7d9 !important;
}
#menu_list ul li.last_ittem{
	border-bottom: none !important;
}
footer {
	clear: both !important;
	border-top:none;
	position:fixed;
	width: 958px  !important;
	margin: 0px auto !important;
	margin-top: 0px !important;
	font-size: 1.4em;
	text-align: left;
	position: inherit;
}
#dealer_info{
	width:640px;
	float:left;
}
#dealer_datos p.dealer_razon_social{
	margin:5px 0 0 0;
	font-family: volkswagen_black, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 14px;
	font-weight: bold\9; /* target IE8 */
    *font-weight: bold; /* target IE7 */
    _font-weight: bold; /* target IE6 */
	color: #32434D;
}
#dealer_datos p.dealer_direccion{
	margin:3px 0 0 0;
	line-height: 15px;
}
#extra{
	width:300px;
	margin: 30px 0 0 0;
	float: right;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0px 1px 2px #bbbbbb;
   -webkit-box-shadow: inset 0px 1px 2px #bbbbbb;
   box-shadow: inset 0px 1px 3px #bbbbbb;
   background-color:#dee2e3;
   font-family: Arial, Helvetica, sans-serif;
   font-size:11px;
   height: 180px;
}

#logo_dealer{
	float:left;
	display:block;
	width:50px;
	height:50px;
	margin: 19px 17px 0 0;
}
#dealer_datos{
	width:540px; 
	float:left;
	margin: 19px 0 0 0;
	font-weight: normal;
	font-size: 12px;
	line-height:15px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8994A0;
}
#dealer_horarios {
	color: #32434D !important;
	clear:both;
	float: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8994A0;
	margin: 30px 0 30px 0;
 font-size: 11px\9; /* target IE8 */
 *font-size: 11px; /* target IE7 */
 _font-size: 11px; /* target IE6 */
 font-family: volkswagen_book, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	
	}
#dealer_horarios ul {
	font-family: Arial, Helvetica, sans-serif;
	color: #8994A0;
	list-style:none;
	margin-top: 8px;
	font-size: 11px;

	}
#dealer_horarios li {
	padding: 4px 0 8px 0;
	margin-top: 8px;
	font-size: 11px;
	border-bottom: 1px solid #cfd7d9;

	}
#dealer_horarios li.last_inlist {
	border-bottom: none;

	}					
#horarios_ventas {
	width:195px;
	float:left;
	
	margin: 0 25px 0 0;}
#horarios_servicio {width:195px;
	float:left;
	margin: 0 25px 0 0;}
#horarios_refacciones {width:195px;
	float: right;
	}	
	#content_inner{
		margin:20px 20px 20px 0px;
		float:right;
		width:685px;
		font-family: Arial, Helvetica, sans-serif;
		color: #333333;
 font-size: 11px;
 list-style:circle;}
 #content_inner p{
		
		width:455px;
		margin-top: 10px;
		}

 
 h1{
	 margin-top: 10px;
	font-family: volkswagen_black, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif !important;
	font-size: 18px;
	font-weight: bold\9; /* target IE8 */
    *font-weight: bold; /* target IE7 */
    _font-weight: bold; /* target IE6 */
 }
	