<a id="home" class="in-page-link"></a>
<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
<section class="signup-divider overlay">
	<div class="background-image-holder parallax-background overlay">
		<img alt="Slide Background" class="background-image" src="img/en_construccion.jpg">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center">
				<h1 style="font-weight: bold; color: #fff;">Direct Express</h1>
				<h1 class="text-white">El Taller de Servicio de Volkswagen</h1>
				<p class="text-white super-lead">Página en Construcción</p>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->

</section>
<script>
	$('.background-image-holder').each(function(){
	var imgSrc= $(this).children('img').attr('src');
	$(this).css('background', 'url("' + imgSrc + '")');
	$(this).children('img').hide();
    $(this).css('background-position', '50% 50%');
});

$('.foreground-image-holder').each(function(){
	var imgSrc= $(this).children('img').attr('src');
	$(this).css('background', 'url("' + imgSrc + '")');
	$(this).children('img').hide();
    $(this).css('background-position', '50% 50%');
});
</script>
<div id="content_address"></div>
