@import url(webfont/font-avenir.css);
@import url(webfont/font-land-rover.css);
@import url(webfont/font-eurostile.css);
/*!
// 2. Global & Helper Classes
// --------------------------------------------------*/
  body {
    color: #7a7a7a;
    background: #f2f2f2;
    clear: both;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #777;
    font-size: 14px;
    line-height: 24px;
  }
  .main-container,
  .footer-container {
    max-width: 1580px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
  }
  section {
    background-color: #f9f9f9;
    background-repeat: repeat;
    background-position: left top;
    clear: both;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
  }
  section.slider, section.listing-block.recent-vehicles {
    background-color: #f9f9f9;
    background-repeat: repeat;
    background-position: left top;
    padding: 10px;
  }
  section:nth-of-type(even) {
    background-repeat: repeat;
    background-position: left top;
    clear: both;
  }
  section.fullwidth div[class*='col-'] {
    padding: 0;
  }
  section.double-pad {
    padding: 160px 0;
    margin: 0 -15px 0 -15px;
    height: 575px;
  }
  section.large-pad {
    padding: 50px 0;
  }
  .no-pad {
    padding: 0;
  }
  .detail-line {
    width: 30px;
    height: 1px;
    background: #fff;
    margin-bottom: 24px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  /*div[class*='col-'] div[class*='col-'] {
    padding-left: 0;
  }*/
  img {
    /*max-width: 100%;*/
  }
  .duplicatable-content {
    padding: 80px 0 40px 0;
  }
  .duplicatable-content div[class*='col-'] {
    margin-bottom: 40px;
  }
  @media all and (max-width: 767px) {
    br {
      display: none;
    }
  }
  body.boxed .main-container,
  body.boxed .footer-container,
  body.boxed nav {
    max-width: 1280px;
  }
  .sub-p {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 8px;
    color: #fff;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    width: 25%;
  }
  ::selection {
    text-shadow: none;
    color: #7a7a7a;
    background-color: #eeeeee;
  }
/**/
