.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.media-box{
	position:relative;
	display:block;
	max-width:100%;
	height: 212px;
	border-bottom: 1px solid rgba(165, 163, 163, 0.42);
	overflow: hidden;
}
.media-box .zoom, .media-box .expand{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	font-size:1.5em;
	z-index:99;
	left:0;
	top:0;
	margin:0;
	background-color:rgba(0,0,0,.4);
	opacity:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.media-box .zoom .icon, .media-box .expand .icon{
	width:44px;
	height:44px;
	-webkit-border-radius:3px;
	border-radius:3px;
	line-height:44px;
	text-align:center;
	color:#ffffff!important;
	position:absolute;
	font-size:1.2em;
	top:50%;
	left:50%;
	margin:-22px 0 0 -22px;
}
.img-thumbnail img:hover, .img-thumbnail:hover{
	opacity:.9
}
.media-box:hover .zoom, .media-box:hover .expand{
	opacity:1;
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
}
.media-box .media-box-wrapper{
	padding:30px;
}
