@charset "UTF-8";

@font-face {
  font-family: "type-file";
  src:url("type-file/type-file.eot");
  src:url("type-file/type-file.eot?#iefix") format("embedded-opentype"),
    url("type-file/type-file.woff") format("woff"),
    url("type-file/type-file.ttf") format("truetype"),
    url("type-file/type-file.svg#type-file") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "type-file" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tyf-"]:before,
[class*=" tyf-"]:before {
  font-family: "type-file" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tyf-ico-type-file-avi:before {
  content: "\e000";
}
.tyf-ico-type-file-cdr:before {
  content: "\e001";
}
.tyf-ico-type-file-csv:before {
  content: "\e002";
}
.tyf-ico-type-file-doc:before {
  content: "\e003";
}
.tyf-ico-type-file-jpg:before {
  content: "\e004";
}
.tyf-ico-type-file-mp3:before {
  content: "\e005";
}
.tyf-ico-type-file-pdf:before {
  content: "\e006";
}
.tyf-ico-type-file-png:before {
  content: "\e007";
}
.tyf-ico-type-file-ppt:before {
  content: "\e008";
}
.tyf-ico-type-file-rar:before {
  content: "\e009";
}
.tyf-ico-type-file-txt:before {
  content: "\e00a";
}
.tyf-ico-type-file-xls:before {
  content: "\e00b";
}
.tyf-ico-type-file-zip:before {
  content: "\e00c";
}
